[Unit]
Description=Update mod_nss certificate for %I

[Timer]
OnCalendar=daily
AccuracySec=1h
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
